
body{
	background-color: #eee;
	color: grey;
	height: 45em;

}

li{
	background-color: white;
	list-style: none;
}


.collection{
	padding: 5em 5em;
}


h1{
	color: grey;
	padding-top: 5px;
    text-align: center;
    font-size: 40px;
}

.buttons{
	border: 3px solid #; 
	float: right;
	position: relative;
   	bottom: .5em;
}

.button{
	height: 3em;
	width: 5em;	
	background-color: rgba(0,0,0,0.78);
	color: #eee;
}



.description{
	color: grey;
	text-align: center;
	font-size: 20px;
}

.editthis{
    border-top: 3px solid #; 
    padding-top: 1em;
    margin-left: 1em;

}

.info{
	    border: 3px solid #; 
	    position: relative;
	    margin-left: 1em;
	    font-size: 12px;
}

form{
	 border: 3px solid #; 
	 padding-bottom: 2em;
	 	color: grey;

}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 4em;
    min-height: 4em;
}
