<TabView>
    <StackLayout *tabItem="{title: 'News'}" >
<ListView [items]= "info" class = "list-group" [class.selected]="item === selectedInfo"(tap)="onSelect(item)">
        <ng-template let-item="item" >
                <StackLayout orientation="horizontal">
                 <Image width="200px" height="300px" src="https://www.w3schools.com/images/w3schools_green.jpg" id = "image"></Image>
                        
            <StackLayout class="list-group-item" >
                <Label [text]="item.Topic" class="list-group-item-heading" id = "topic"></Label>
                <Label  [text]="item.author"  class="list-group-item-text" ></Label>
                <Label  [text]="item.prev"  class="list-group-item-text" id = "prev"></Label>
                </StackLayout>
                </StackLayout>
            </ng-template>
        </ListView>

        <app-news-detail [item]="selectedInfo"></app-news-detail>

    </StackLayout>
    <StackLayout *tabItem="{title: 'Info'}">   
        <StackLayout>   
         <Image src="/Nativescript/app/App_Resources/Android/LilBill.png"></Image>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Providers'}">
        <Label text="Third tab item"></Label>
    </StackLayout>
</TabView>
