<TabView>
    <StackLayout *tabItem="{title: 'News'}" id = "news">

        <StackLayout id= "woman">
        <Label text = "Smile Of the Future" id= "womantext"></Label>
        <Image src= "~/images/big-woman.png"></Image>
        </StackLayout>
        <StackLayout>
        <a href ="">
            <Image src= "~/images/boxes1.png"></Image>
        </a>
        <a href ="">
            <Image src= "~/images/boxes2.png"></Image>
        </a>
        </StackLayout>
    
    </StackLayout>


    <StackLayout *tabItem="{title: 'Info'}">   
        <StackLayout>   
                <ListView [items]= "News" class = "list-group" [class.selected]="item === selectedInfo"(tap)="onSelect(item)">
                        <ng-template let-item="item" >
                                <StackLayout orientation="horizontal">
                                 <Image width="200px" height="300px" [src]="item.pic" id = "image"></Image>
                            <StackLayout class="list-group-item" >
                              <Label [text]="item.Topic" class="list-group-item-heading" id = "topic"></Label>
                              <Label [text]="'Created by: ' + item.author"  class="list-group-item-text" ></Label>
                                <Label  [text]="item.prev"  class="list-group-item-text" id = "prev"></Label>
                                </StackLayout>
                                </StackLayout>
                            </ng-template>
                        </ListView>
                
                        <app-news-detail [item]="selectedInfo"></app-news-detail>
                
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Providers'}">
        <Image></Image>
    </StackLayout>
</TabView>
