<app-header></app-header>

 
<div class="container">
  <div class="">
    <h1 class=""> Create a new post</h1> 
    
    <form (ngSubmit) ="onSubmit()" class="">

      <div class="">
        <label>Title</label>
        <input type="text" placeholder="Add title" [(ngModel)]="item.title" name="title">
      </div>
      
      <div class="">
        <label>Description</label>
        <input type="text" placeholder="Add Description" [(ngModel)]="item.description" name="description">
      </div>

       <div class="">
       <label>Datatype</label>
       <select type="text" placeholder="Add Datatype" [(ngModel)]="item.datatype" name="datatype">
       <option selected="selected" >None</option>
       <option>PDF</option>
       <option>Image - png</option>
       <option>Image - jpg</option>
       </select>
       </div>

      <div class="">
       <label>Permissions</label>
       <select type="text" placeholder="Add Datatype" [(ngModel)]="item.permissions" name="permissions">
       <option selected="selected" >Everyone</option>
       <option>Dentists/Doctors only</option>
       </select>
       </div>
       
        <div class="">
        <label>Time</label>
        <input type="text" placeholder="ex. 01/02/2017" [(ngModel)]="item.time" name="time">
        </div>

         <div class="">
        <label>Posted by</label>
        <input type="text" placeholder="Add title" [(ngModel)]="item.adminposted" name="title">
        </div>
       <!--
       <label>Attachment</label>
       <div class="">
       <input type="file" accept="image/*" [(ngModel)]="item.datatype" >
       </div>
    

      -->      
  
      <input type="submit">
       
    </form>

  </div>
</div>

