<app-header></app-header>

 
<body>
<div class="container">
  <div class="">
    <h1 class=""> Create a new post</h1> 
    
    <form (ngSubmit) ="onSubmit()" class="">

      <div class="">
        <label>Title</label>
        <textarea type="text" placeholder="Add title" [(ngModel)]="item.title" name="title"></textarea>
      </div>
      
      <div class="">
        <label>Description</label>
        <textarea class="description" type="text" placeholder="Add Description" [(ngModel)]="item.description" name="description"></textarea>
      </div>

      <div class="">
       <label>Permissions</label>
       <select type="text" placeholder="Add Datatype" [(ngModel)]="item.permissions" name="permissions">
       <option selected="selected" >Everyone</option>
       <option>Dentists/Doctors only</option>
       </select>
       </div>
      
       <!-- file type -->
      <!--
       <div class="">
       <label>Datatype</label>
       <select type="text" placeholder="Add Datatype" [(ngModel)]="item.datatype"  name="datatype">
       <option selected="selected" >None</option>
       <option>PDF</option>
       <option>Image - png</option>
       <option>Image - jpg</option>
       </select>
       </div>
      -->
      
       <!-- upload file -->
       <!--
        <label>Attachment</label>
        <div class="">
        <input type="file" accept="image/*" [(ngModel)]="item.file" id="file" >
        </div>
      -->

         
      <input type="submit" class="button">
      <div id="message">{{msg}}</div>
      <div id="message2">{{msg2}}</div>

    </form>

  </div>
</div>

</body>

