input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    margin-top: 5em;
    box-sizing: border-box;
}

select {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}